* {
    box-sizing: border-box;
}

body {
    background-color: mistyrose;
}

h1,h2 {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

label {
    font-family: 'Source Code Pro', monospace;
}

.inputs {
    margin: 1% 0 1% 0;
    text-align: left;
}

.page-wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin: 1% 0 1% 0;
}

span {
    margin: auto;
    font-family: 'Source Code Pro', monospace;
    justify-content: center;
}

.grid-wrapper {
    display: flex;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
}

.box {
    background-color: lightskyblue;
    border: 1px solid black;
    flex-grow: 1;
    aspect-ratio: 1/1;
    justify-content: center;
    display: flex;

}

.show0 {
    color: darkgray;
}

.show1 {
    color: blue;
}

.show2 {
    color: green;
}

.show3 {
    color: red
}

.show4 {
    color: darkmagenta
}

.show5 {
    color: brown
}

.show6 {
    color: cyan
}

.show7 {
    color: black
}

.show8 {
    color: darkorange
}


.showBox {
    background-color: gainsboro;
    font-size: 100%;
}


.bomb {
    background-color: crimson;
}

.hideBox {
    background-color: lightskyblue;
}



.mouseover {
    background-color: darkslategray;
}

.flag {
    
    background-color: goldenrod;
}


.bombVictory {
    background-color: purple;
}

.hideText {
    visibility: hidden;
}

.bombText {
    visibility: hidden;
}
